# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Flutter Build

env:
  FLUTTER_VERSION: 3.24.3

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: ${{env.FLUTTER_VERSION}}
      - run: flutter clean
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter build appbundle --release
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: free_rfr-android
          path: build/app/outputs/apk/release/
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev keybinder-3.0
      - run: flutter build linux --release
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: free_rfr-linux
          path: build/linux/x64/release/bundle
      #- run: flutter test
  build-windows:
    runs-on: windows-latest
    
    steps:
        - uses: actions/checkout@v4
        - uses: subosito/flutter-action@v2
          with:
            channel: 'stable'
            flutter-version: ${{env.FLUTTER_VERSION}}
        - run: flutter pub get
        - run: flutter analyze
        - run: flutter build windows --release
        - name: Upload Build Artifact
          uses: actions/upload-artifact@v4
          with:
            name: free_rfr-windows
            path: build/windows/x64/runner/Release/
  build-macos:
    runs-on: macos-latest
    
    steps:
        - uses: actions/checkout@v4
        - uses: subosito/flutter-action@v2
          with:
            channel: 'stable'
            flutter-version: ${{env.FLUTTER_VERSION}}
        - run: flutter pub get
        - run: flutter analyze
        - run: flutter build ipa --release --no-codesign
        - run: flutter build macos --release
        - name: Upload Build Artifact
          uses: actions/upload-artifact@v4
          with:
            name: free_rfr-macos
            path: build/macos/Build/Products/Release
        - name: Archive IPA
          uses: actions/upload-artifact@v4
          with:
            name: free_rfr-ios
            path: build/ios/ipa/
    
  
  
